* {
    font-family: "Gill Sans", sans-serif;
}

p {
    font-size: 12px;
}

h2 {
    padding: 12px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
}

header nav {
    background: rgb(190,136,150);
    background: radial-gradient(circle, rgba(190,136,150,1) 4%, rgba(137,186,148,1) 25%, rgba(134,185,149,1) 41%, rgba(24,136,190,0.9976191160057774) 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header__div {
    position: relative;
    text-align: center;
    color: black;
}

.header__div img {
    width: 100%;
    height: 100%;
}

.header__div div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn__nav {
    height: 100%;
    border-radius: 3px;
    background-color: #1888be;
    border: #1888be;
}

.btn__nav a {
    color: white;
    text-decoration: none;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}

.cards {
    display: flex;
    margin-top: 20px;
}

.cards__div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cards__div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards__div img {
    width: 100%;
}

.container {
    padding: 2px 16px;
    text-align: center;
}

h4 {
    margin: 1em;
    padding: 0;
   }

.btn__card {
    background: rgba(39,232,96,1);
    border-color: #20592d;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn__card:hover {
    background: white;
}

.btn__card:hover a {
color: black;
    text-decoration: none;
}

.btn__card a {
    color: white;
    text-decoration: none;
}